{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>DevOps Dashboard</h1>
    {% if form.errors %}
        <p>
            Invalid Credentials, try again.
        </p>
    {% else %}
    {% endif %}
    <div class="login-form">
        <form action="{% url "login" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Login"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
        <p><a href="{% url "register" %}">New User Registration</a></p>
    </div>
{% endblock %}