{% extends "base.html" %}

{% block title %}Change Login Password{% endblock %}

{% block content %}
    <h1>Reset Password</h1>
    <p>Enter New Password Below:</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Submit"></p>
        {% csrf_token %}
    </form>
{% endblock %}