{% extends "base.html" %}

{% block title %}Reset Account Password.{% endblock %}

{% block content %}
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to be sent a link to reset your account password.</p>
    <form action="." method="post">
        {{ form.as_p }}
    <p><input type="submit" value="Send Reset"></p>
    {% csrf_token %}
    </form>
{% endblock %}
