{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <h1>Password Reset Completed</h1>
<a>Your password has been reset, you can <a href="{% url "login" %}">log in now</a>.</p>