{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
        <h1>Reset your password.</h1>
    {% if validlink %}
        <p>Please enter and confirm password below:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
        <p><input type="submit" value="Change Password" /></p>
        </form>
    {% else %}
        <p>Password reset link is invalid, this means it could have
        been used previously. Request a new reset link.</p>
    {% endif %}
{% endblock %}