{% extends "base.html" %}

{% block title %}Password Successfully Updated.{% endblock %}

{% block content %}
    <h1>Success!</h1>
    <p>Your password has been updated successfully.</p>
{% endblock %}