{% extends "base.html" %}

{% block title %}Reset Password.{% endblock %}

{% block content %}
    <h1>Reset your password.</h1>
    <p>Instructions have been emailed to provided address for resetting account password.</p>
    <p>If email does not arrive, please make sure you entered the correct address.</p>
{% endblock %}