{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <span class="logo"><a href="{% url "dashboard" %}">
            <img src="http://chquestcenter.com/sites/default/files/2017-09/1_12033_favicon-petco_large.png" class="GeneratedImage"></a>
        </span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url "dashboard" %}">My Dashboard</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="#">Images</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="#">People</a>
                </li>
            </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
                Logged in: {{ request.user.first_name }},
                <a href="{% url "logout" %}">Logout</a>
            {% else %}
                <a href="{% url "login" %}">Login</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock%}
    </div>
</body>
</html>