{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>DevOps Dashboard</h1>
    <p>Welcome to your dashboard.</p>
    <p><a href="{% url "edit" %}">Edit User Profile</a></p>
    <p><a href="{% url "password_change" %}">Change Password</a></p>
{% endblock %}