{% extends "base.html" %}

{% block title %}Edit User Account:{% endblock %}

{% block content %}
    <h1>Edit your account information:</h1>
    <form action="." method="post" enctype="multipart/form-data" >
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save Changes"></p>
    </form>
{% endblock %}