{% extends "base.html" %}

{% block title %}Create new account{% endblock %}

{% block content %}
    <h1>Create new account</h1>
    <p>Sign up for an account using the form below.</p>
    <form action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create account"></p>
    </form>
{% endblock %}